<h1 class="jumbotron mt-5 text-center">Bienvenue sur la page de <%= @user.first_name%> <%= @user.last_name%> !</h1>

<div class="text-center">
<p> Nom : <%= @user.first_name%> </p>
<p> Prénom : <%= @user.last_name%> </p>
<p> Age : <%= @user.age%> </p>
<p> Description : <%= @user.description%> </p>
<p> Email : <%= @user.email%> </p>
<p> Ville : <%= link_to "#{@user.city.city_name}", city_path(@user.city.id)%> </p>
</div>