
<h1>Ceci est la page du Gossip n°<%= params[:id]%> !</h1>

<p>Auteur : <%= @gossip.user.first_name %> <%= @gossip.user.last_name %></p>

<p>Titre : <%= @gossip.title %>

<p>Potin : <%= @gossip.content %>

<%= link_to "Profil de l'auteur", user_path(@user.id) %>
<p> Ville du potin : <%= link_to "#{@user.city.city_name}", city_path(@user.city.id)%></p>

<%= link_to "Modifier le potin", edit_gossip_path(@gossip.id)%> </br>

<%= link_to "Supprimer le potin", gossip_path, method: :delete, class: "btn btn-danger mt-3 mb-3"%>





<h4> Ajouter un commentaire :</h4>

<%= form_for @gossip do |f|%>

  <div class="form-group">
    <label>Contenu du commentaire</label>
    <%= f.text_area :content, class:"form-control" %>
  </div>

  <div class="form-group">
    <button type="submit">Modifier le gossip</button>
  </div>
<% end %>





  <h4 class="mt-4">Voici tous les commentaires liés à ce potin :</h4>
</div>

<div class="card-deck">

  <% @gossips_comments.each do |comment| %>
    <div class="col-md-3 col-sm-4">
      <div class="card border-dark mb-3 mx-auto " style="max-width: 20rem;">
        
        <div class="card-body">
          <h4 class="card-title"><%= comment.author.first_name%></h4>
          <p class="card-text"><%= comment.content %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>