

<h3 class="jumbotron mt-5 text-center">Voici tous les potins de <%= @city.city_name%>:</h3>
</div>

<div class="">
<div class="card-deck">

  <% @gossips_of_city.each do |gossip| %>
    <div class="col-md-3 col-sm-4">
      <div class="card border-dark mb-3 mx-auto " style="max-width: 20rem;">
        <div class="card-header"> <a href="<%=gossip_path(gossip.id)%>"> Gossip n°<%= gossip.id %></a></div>
        <div class="card-body">
          <h4 class="card-title"><%= gossip.title %></h4>
          <p class="card-text"><%= gossip.user.first_name %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
</div>